@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: gray;
}

main {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(211, 211, 211, 0.418);
    border-bottom: 3px solid rgba(255, 0, 0, 0.288);
    justify-content: space-evenly;
    background-image: url(https://wallpapers.com/images/featured-full/ocean-beach-djwm4ot11rv76do5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main h1 {
    padding-bottom: 20px;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
}

main ul {
    list-style: none;
    display: flex;
}

main li {
    padding: 20px;
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
}

aside {
    border: 5px solid black;
    width: 100%;
    height: 100%;
}

aside div {
    font-size: 9em;
}


